/* ===== FONDO GENERAL ===== */
.stApp {
    background-color: #e8edf7;
}


/* ===== SIDEBAR PROFESIONAL DSSO ===== */
[data-testid="stSidebar"] {
    background-color: #1A4564 !important;
}

/* Texto general */
[data-testid="stSidebar"] * {
    color: #ffffff !important;
}

/* Títulos dentro del sidebar */
[data-testid="stSidebar"] h1,
[data-testid="stSidebar"] h2,
[data-testid="stSidebar"] h3 {
    color: #ffffff !important;
    font-weight: 700;
}

/* Selectbox y inputs */
[data-testid="stSidebar"] .stSelectbox,
[data-testid="stSidebar"] .stTextInput,
[data-testid="stSidebar"] .stDateInput {
    background-color: #ffffff15;
    border-radius: 8px;
}

/* Hover de opciones */
[data-testid="stSidebar"] div[role="option"]:hover {
    background-color: #ffffff25;
}

/* Separadores */
[data-testid="stSidebar"] hr {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Botones dentro del sidebar */
[data-testid="stSidebar"] button {
    background-color: #ffffff20;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

[data-testid="stSidebar"] button:hover {
    background-color: #ffffff35;